@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.white:hover {
    background-image: url('/assets/images/gray.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.white {
    background-image: url('/assets/images/height.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'SF_HambakSnow';
    -webkit-text-stroke: 2px #544c4c;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bar1 {
    font-family: 'SF_HambakSnow';
    -webkit-text-stroke: 2px #544c4c;
}

.name2 {
    font-family: 'SF_HambakSnow';
    -webkit-text-stroke: 4.5px #544c4c;
}

.button:hover {
    color: white;
    -webkit-text-stroke: 3px white;
}

.bar2 {
    font-family: 'Pretendard-Regular';
    -webkit-text-stroke: 1.5px #949597;
}

.name1 {
    font-family: 'Pretendard-Regular';
    font-weight: 600; /* extrabold */
    -webkit-text-stroke: 2px #544c4c;
}
