@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PFStardust';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 817px) {
    .white {
        display: none;
    }
}

body {
    font-family: 'Pretendard-Regular';
    font-weight: 500; /* extrabold */
}

.engSm {
    @apply text-[18px] sm:text-[22px] md:text-[24px] lg:text-[26px] xl:text-[28px];
    font-family: 'Roboto Condensed';
}

.engLg {
    @apply text-[30px] sm:text-[32px] md:text-[36px] lg:text-[38px];
    font-family: 'Roboto Condensed';
}

.one {
    @apply text-[12px] sm:text-[14px] md:text-[18px] lg:text-[22px] whitespace-nowrap;
}

.korMd {
    @apply text-[20px] sm:text-[22px] md:text-[24px] lg:text-[26px] whitespace-nowrap;
}

.korSm {
    @apply text-[20px] sm:text-[20px] md:text-[22px];
}

.infos * {
    color: black;

    font-family: 'SF_HambakSnow';
    -webkit-text-stroke: 0.5px black;
}

/* html {
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

.white:hover {
    background-image: url('/assets/images/gray.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.arch {
    background-image: url('/assets/images/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.thick {
    -webkit-text-stroke: 0.8px black;
}

.details {
    background-image: url('/assets/images/white.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.box::before {
    background-color: rgba(0, 0, 0, 0.8);
}

.box {
    box-shadow: 0 20px 30px gray;
    background-image: url('/assets/images/white.png');
    background-repeat: no-repeat;
    color: black;
    background-opacity: 20;
    background-size: cover;
}

.white:hover * {
    color: #6b8e6d;
    -webkit-text-stroke: 2px black;
}

.profile:hover {
    background-image: url('/assets/images/greenW.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.profile:hover * {
    color: beige;
    -webkit-text-stroke: 0.5px black;
}

.profile {
    background-image: url('/assets/images/gray.png');
    background-repeat: no-repeat;
    background-opacity: 20;
    background-size: cover;
    font-family: 'SF_HambakSnow';
    font-weight: 1200;
    -webkit-text-stroke: 1.5px black;
    box-shadow: 10px 10px 20px black;
}

.white {
    background-image: url('/assets/images/height.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'SF_HambakSnow';
    -webkit-text-stroke: 2px #544c4c;
    box-shadow: 0 20px 40px gray;
}

.bar1 {
    font-family: 'SF_HambakSnow';
    -webkit-text-stroke: 2px #544c4c;
}

.name2 {
    font-family: 'SF_HambakSnow';
    -webkit-text-stroke: 4.5px #544c4c;
}

.detail {
    font-family: 'SF_HambakSnow';
    -webkit-text-stroke: 3.5px black;
}

.button:hover {
    color: #6b8e6d;
    -webkit-text-stroke: 1.5px #6b8e6d;
}

.click {
    font-family: 'SF_HambakSnow';
    font-weight: 1000;
    -webkit-text-stroke: 3.5px #56bdb8;
}

.small {
    font-family: 'SF_HambakSnow';
    -webkit-text-stroke: 1px black;
}

.name1 {
    font-family: 'Pretendard-Regular';
    font-weight: 600; /* extrabold */
    -webkit-text-stroke: 2px #544c4c;
}

.brandExplain {
    font-family: 'SF_HambakSnow';
    font-weight: 900;
}
